<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore the evolution of color theory over time."
    />
    <meta name="keywords" content="Color Theory, Art, Science, History" />
    <meta name="author" content="William Hathaway - CSCI E-12" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Color Theory Over Time</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Color Theory Site</h1>
        <button class="nav-toggle" id="nav-toggle"></button>
      </div>
      <nav id="nav-menu">
        <ul>
          <li><a href="../views/index.html">Home</a></li>
          <li><a href="../views/lightroom.html">Lightroom</a></li>
          <li><a href="../views/color-wheels.html">Color wheels</a></li>
          <li><a href="../views/resources.html">Resources</a></li>
          <li><a href="../views/contributors.html">Contributors</a></li>
          <li><a href="../views/applications.html">Applications</a></li>
          <li id="notebook-toggle">Notebook Mode</li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <h2>Discover the Evolution of Color Theory</h2>
        <section class="home-section">
          <p>
            Welcome to my Color Theory Website! The goal of this site is to
            explain the science and history of color theory. I'll share
            interesting historical perspectives and scientific research, as well
            as some interactive elements which will hopefully make the concepts
            more tangible.
          </p>
        </section>
        <section class="home-section">
          <h3>Color in Art and Science</h3>
          <img
            src="../images/Goethe.jpg"
            alt="Origins of Color"
            class="responsive-image"
          />
          <p>
            The science of color theory intersects with the fields of biology,
            optics, psychology, and physics. The history of color theory
            introduces you to many influential philosophers, scientists, artists
            and pioneers.
          </p>
        </section>
        <section class="home-section">
          <h3>The Science of Color Theory, from Aristotle to Newton</h3>
          <img
            src="../images/Boutet.jpg"
            alt="Art and Science"
            class="responsive-image"
          />
          <p>
            The study of the origin and meaning of color begins largely with
            Aristotle, and follows the Aristotelian model until Newton devised
            his experiments on optics and light refraction. His studies revealed
            important principles of light and the different wavelengths of light
            that make color appear to us.
          </p>
        </section>
        <section class="home-section">
          <h3>Goethe</h3>
          <img
            src="../images/Moses-Harris.jpg"
            alt="Modern Applications"
            class="responsive-image"
          />
          <p>
            Goethe challenges some of Newton's ideas in his work the Theory of
            Colour, in which he gave a new importance to the role of subjective
            human psychology and mood on our perceptions of color. He saw color
            as emerging not from different wavelengths of light, but from the
            interaction between light and shadow.
          </p>
        </section>
        <section class="home-section">
          <h3>Color Theory in Art</h3>
          <img
            src="../images/Schiller.jpg"
            alt="Modern Applications"
            class="responsive-image"
          />
          <p>
            Artists like Leonardo da Vinci conducted deep investigations into
            color in the service of their artwork. Through careful examination
            and relentless curiosity, Leonardo created his own system for
            dividing and depicting colors. His studies contribute to his
            paintings' naturalistic character.
          </p>
        </section>
        <section class="home-section">
          <h3>Thank you!</h3>
          <img
            src="../images/Runge-Farbenkugel.jpg"
            alt="Modern Applications"
            class="responsive-image"
          />
          <p>Thank you for taking the time to visit my site.</p>
        </section>
      </div>
    </main>
    <footer>
      <p>2024 William Hathaway - CSCI E-12</p>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>
