<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore the evolution of color theory over time.">
  <meta name="keywords" content="Color Theory, Art, Science, History">
  <meta name="author" content="William Hathaway - CSCI E-12">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Color Theory Over Time</title>
</head>
<body>
  <header>
    <div class="header-container">
      <h1>Color Theory Site</h1>
      <button class="nav-toggle" id="nav-toggle"></button>
    </div>
    <nav id="nav-menu">
      <ul>
        <li><a href="../views/index.html">Home</a></li>
        <li><a href="../views/lightroom.html">Lightroom</a></li>
        <li><a href="../views/color-wheels.html">Color wheels</a></li>
        <li><a href="../views/resources.html">Resources</a></li>
        <li><a href="../views/contributors.html">Contributors</a></li>
        <li><a href="../views/applications.html">Applications</a></li>
        <li id="notebook-toggle">Notebook Mode</li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container"></div>
      <h2>Resources</h3>
        <ul class="resources-list">
          <li><a href="https://en.wikipedia.org/wiki/Color_theory" target="_blank">Wikipedia: Color Theory</a></li>
          <li><a href="https://www.openculture.com/2017/12/the-vibrant-color-wheels-designed-by-goethe-newton-other-theorists-of-color-1665-1810.html" target="_blank">Open Culture: Color Wheels Article (source for images)</a></li>
          <li><a href="https://en.wikipedia.org/wiki/On_Colors" target="_blank">Aristotle: One Colors</a></li>
          <li><a href="https://en.wikipedia.org/wiki/On_Vision_and_Colours" target="_blank">Goethe: On Vision and Colours</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Newton_disc" target="_blank">Newton: Newton Disc</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Bartholomaeus_Anglicus" target="_blank">Bartholomaeus Anglicus</a></li>
          <li><a href="https://www.discoveringdavinci.com/theory-of-color" target="_blank">Discovering da Vinci: Theory of Color</a></li>
        </ul>
        <div class="paintings-list">
        <p>Paintings from Goethe demo:</p>
        <p>"Starry Night Over the Rhône" (1888) by Vincent van Gogh</p>
        <p>"Impression, Sunrise" (1872) by Claude Monet</p>
        <p>"The Hay Wain" (1821) by John Constable</p>
        <p>"The Red Vineyard" (1888) by Vincent van Gogh</p>
      </div>
  </main>
  
  <footer>
    <p>2024 William Hathaway - CSCI E-12</p>
  </footer>
  <script src="../scripts/script.js"></script>
</body>
</html>
