.color-wheel {
    margin: 30px 0;
}

.colors {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.color {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.quote {
    width: 80%;
    max-width: 600px; 
    margin: 20px auto; 
    text-align: center; 
    font-style: italic; 
}

#dark-text {
    color: black;
}
